build
dist
He_s_Dead_Jim.egg-info
hdj_env
__pycache__/
.idea/usage.statistics.xml
.idea/workspace.xml
.idea/He-s-Dead-Jim.iml
.idea/tasks.xml
.idea/dataSources.local.xml
workspace.xml
.idea/dictionaries/
debug.log
.coverage